* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 700px;
}

.square {
  border: 1px solid black;
  flex: 1 0 calc(100% / var(--grid-size));
  aspect-ratio: 1;
}

.colored {
  background-color: black;
}
